{% extends "layout.njk" %}

{% block head %}
    <title>Videos - Meet Fortaleza</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}

{% block content %}

<h1>Videos</h1>
<section class="cards">

    {% for item in items %}
    <div class="card" id="{{item.id}}">
        <div class="card-image-container {{ 'featured-wrapper' if item.featured }}">
            <img src="https://img.youtube.com/vi/{{item.id}}/maxresdefault.jpg" alt="Vídeo 'O que fazer em Fortaleza'">
            {% if item.featured %}
                <div class="featured">Featured</div>
            {% endif %}
        </div>
        <div class="card-content">
            <p>
                {{item.title}}
            </p>
        </div>
        <div class="card-info">
            <p>{{item.duration}}</p>
            <p>{{item.type}}</p>
        </div>
    </div>
    {% endfor %}
    
</section>

<div class="modal-overlay">
    <div class="modal">
        <a class="close-modal">
            <!-- Material icons CDN -->
            <i class="material-icons">close</i>
        </a>

        <div class="modal-content">
            <!-- Video here -->
            <iframe src="" frameborder="0"></iframe>
        </div>
    </div>
</div>

<footer class="links">
    <a href="https://github.com/analuizacastro" target="_blank">Github</a>
    <a href="https://www.linkedin.com/in/analuizabarbosacastro" target="_blank">Linkedin</a>
</footer>
<script src="scripts.js"></script>

{% endblock %}
